/*Reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color:rgb(255, 177, 216);

}


header{
    height: 150px;
    margin: 1px;
    padding-right: 300px;
    background-color: hotpink;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header nav ul{
    width: 30px;
    height: 100%;
    padding: 15px;
    list-style: none;
    display: flex;
    gap: 30px;
}

header nav ul li{
    background-color: rgb(252, 209, 231);
    padding:15px;
    border-radius:15px;
    text-shadow: 1px 1px 2px white;
    box-shadow: 1px 1px 3px black;

}

/*cuerpo*/

main{
    padding: 20px;
    background-color: rgb(255, 202, 231);
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.img-inicio{
    width: 500px;
}

h1{
    padding: 25px;
    text-align: center;

}

h3{
    padding: 5px;
    text-align: center;
}


h4{
    padding: 5px;
    text-align: center;
}



    
.fotos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2. 1fr);
    justify-items: center;
    align-items: center;
}

.semi{
    width: 150px;
    justify-self: start; 
    align-self: start;
}

.kapping{
    width: 150px;
    justify-self: end;
    align-self: flex-end;
}

.esculpidas{
    width: 150px;
    justify-self: start;
    align-self: flex-start;
}

.galeria{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}


.calendario{
    width: 300px;

}


footer{
    background-color: hotpink;
    padding: 20px;
}

